{% extends 'base.html' %}

{% block title %}Gallery{% endblock title %}

{% block nav %}
<div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="static/img/logo.jpg"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav align-text-right">
                        <a class="nav-link" href="/">HOME</a>
                        <a class="nav-link active" aria-current="page" href="#">GALLERY</a>
                        <a class="nav-link" href="/about">ABOUT</a>
                        <a class="nav-link" href="/orders">ORDER</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock nav %}

{% block body %}
<div class="content">
       <h2>GALLERY</h2>
        <div id="sample">
          <div id="item1" class="item">
            <a href="static/img/gallery/original/1.jpg" target="_blank"><img src="static/img/gallery/compressed/1.jpg" target="_blank"></a>
          </div>
          <div id="item2" class="item">
            <a href="static/img/gallery/original/2.jpg" target="_blank"><img src="static/img/gallery/compressed/2.jpg" target="_blank"></a>
          </div>
          <div id="item3" class="item">
            <a href="static/img/gallery/original/3.jpg" target="_blank"><img src="static/img/gallery/compressed/3.jpg" target="_blank"></a>
          </div>
          <div id="item4" class="item">
            <a href="static/img/gallery/original/4.jpg" target="_blank"><img src="static/img/gallery/compressed/4.jpg" target="_blank"></a>
          </div>
          <div id="item5" class="item">
            <a href="static/img/gallery/original/5.jpg" target="_blank"><img src="static/img/gallery/compressed/5.jpg" target="_blank"></a>
          </div>
          <div id="item6" class="item">
            <a href="static/img/gallery/original/6.jpg" target="_blank"><img src="static/img/gallery/compressed/6.jpg" target="_blank"></a>
          </div>
          <div id="item7" class="item">
            <a href="static/img/gallery/original/7.jpg" target="_blank"><img src="static/img/gallery/compressed/7.jpg" target="_blank"></a>
          </div>
          <div id="item8" class="item">
            <a href="static/img/gallery/original/8.jpg" target="_blank"><img src="static/img/gallery/compressed/8.jpg" target="_blank"></a>
          </div>
          <div id="item9" class="item">
            <a href="static/img/gallery/original/9.jpg" target="_blank"><img src="static/img/gallery/compressed/9.jpg" target="_blank"></a>
          </div>
          <div id="item10" class="item">
            <a href="static/img/gallery/original/10.jpg" target="_blank"><img src="static/img/gallery/compressed/10.jpg" target="_blank"></a>
          </div>
          <div id="item11" class="item">
            <a href="static/img/gallery/original/11.jpg" target="_blank"><img src="static/img/gallery/compressed/11.jpg" target="_blank"></a>
          </div>
          <div id="item12" class="item">
            <a href="static/img/gallery/original/12.jpg" target="_blank"><img src="static/img/gallery/compressed/12.jpg" target="_blank"></a>
          </div>
          <div id="item13" class="item">
            <a href="static/img/gallery/original/13.jpg" target="_blank"><img src="static/img/gallery/compressed/13.jpg" target="_blank"></a>
          </div>
          <div id="item14" class="item">
            <a href="static/img/gallery/original/14.jpg" target="_blank"><img src="static/img/gallery/compressed/14.jpg" target="_blank"></a>
          </div>
          <div id="item15" class="item">
            <a href="static/img/gallery/original/15.jpg" target="_blank"><img src="static/img/gallery/compressed/15.jpg" target="_blank"></a>
          </div>
          <div id="item16" class="item">
            <a href="static/img/gallery/original/16.jpg" target="_blank"><img src="static/img/gallery/compressed/16.jpg" target="_blank"></a>
          </div>
          <div id="item17" class="item">
            <a href="static/img/gallery/original/17.jpg" target="_blank"><img src="static/img/gallery/compressed/17.jpg" target="_blank"></a>
          </div>
          <div id="item18" class="item">
            <a href="static/img/gallery/original/18.jpg" target="_blank"><img src="static/img/gallery/compressed/18.jpg" target="_blank"></a>
          </div>
          <div id="item19" class="item">
            <a href="static/img/gallery/original/19.jpg" target="_blank"><img src="static/img/gallery/compressed/19.jpg" target="_blank"></a>
          </div>
          <div id="item20" class="item">
            <a href="static/img/gallery/original/20.jpg" target="_blank"><img src="static/img/gallery/compressed/20.jpg" target="_blank"></a>
          </div>
          <div id="item21" class="item">
            <a href="static/img/gallery/original/21.jpg" target="_blank"><img src="static/img/gallery/compressed/21.jpg" target="_blank"></a>
          </div>
          <div id="item22" class="item">
            <a href="static/img/gallery/original/22.jpg" target="_blank"><img src="static/img/gallery/compressed/22.jpg" target="_blank"></a>
          </div>
          <div id="item23" class="item">
            <a href="static/img/gallery/original/23.jpg" target="_blank"><img src="static/img/gallery/compressed/23.jpg" target="_blank"></a>
          </div>
          <div id="item24" class="item">
            <a href="static/img/gallery/original/24.jpg" target="_blank"><img src="static/img/gallery/compressed/24.jpg" target="_blank"></a>
          </div>
          <div id="item25" class="item">
            <a href="static/img/gallery/original/25.jpg" target="_blank"><img src="static/img/gallery/compressed/25.jpg" target="_blank"></a>
          </div>
          <div id="item26" class="item">
            <a href="static/img/gallery/original/26.jpg" target="_blank"><img src="static/img/gallery/compressed/26.jpg" target="_blank"></a>
          </div>
          <div id="item27" class="item">
            <a href="static/img/gallery/original/27.jpg" target="_blank"><img src="static/img/gallery/compressed/27.jpg" target="_blank"></a>
          </div>
          <div id="item28" class="item">
            <a href="static/img/gallery/original/28.jpg" target="_blank"><img src="static/img/gallery/compressed/28.jpg" target="_blank"></a>
          </div>
          <div id="item29" class="item">
            <a href="static/img/gallery/original/29.jpg" target="_blank"><img src="static/img/gallery/compressed/29.jpg" target="_blank"></a>
          </div>
          <div id="item30" class="item">
            <a href="static/img/gallery/original/30.jpg" target="_blank"><img src="static/img/gallery/compressed/30.jpg" target="_blank"></a>
          </div>
          <div id="item31" class="item">
            <a href="static/img/gallery/original/31.jpg" target="_blank"><img src="static/img/gallery/compressed/31.jpg" target="_blank"></a>
          </div>
          <div id="item32" class="item">
            <a href="static/img/gallery/original/32.jpg" target="_blank"><img src="static/img/gallery/compressed/32.jpg" target="_blank"></a>
          </div>
          <div id="item33" class="item">
            <a href="static/img/gallery/original/33.jpg" target="_blank"><img src="static/img/gallery/compressed/33.jpg" target="_blank"></a>
          </div>
          <div id="item34" class="item">
            <a href="static/img/gallery/original/34.jpg" target="_blank"><img src="static/img/gallery/compressed/34.jpg" target="_blank"></a>
          </div>
          <div id="item35" class="item">
            <a href="static/img/gallery/original/35.jpg" target="_blank"><img src="static/img/gallery/compressed/35.jpg" target="_blank"></a>
          </div>
          <div id="item36" class="item">
            <a href="static/img/gallery/original/36.jpg" target="_blank"><img src="static/img/gallery/compressed/36.jpg" target="_blank"></a>
          </div>
          <div id="item37" class="item">
            <a href="static/img/gallery/original/37.jpg" target="_blank"><img src="static/img/gallery/compressed/37.jpg" target="_blank"></a>
          </div>
          <div id="item38" class="item">
            <a href="static/img/gallery/original/38.jpg" target="_blank"><img src="static/img/gallery/compressed/38.jpg" target="_blank"></a>
          </div>
        </div>
      </div>
{% endblock body %}
